@model Contacto
<form asp-controller="Contacto" asp-action="Create">
<label asp-for="FirstName" class="Control-label"></label>
<input asp-for="FirstName"  class="form-controll"/>

<div class="form-group">
    <button type="summit" class="btn btn-primaty">Registrar </button>

    
</div>
</form>